:root {
    --high: rgba(255, 255, 255, 1);
    --less: rgba(255, 255, 255, .6);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #363636;
    color: var(--high);
}

.boite {
    display: inline-block;
    /* width: 100px; */
    height: 80px;
    border-radius: 10px;
    background-color: #000;
}


.tapis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cellule {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
}
.active {
    animation: moveRight 2s;
}

@keyframes moveRight {
    0%, 100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(500px);
    }
}

.goutte {
    /* position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%, 50%); */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}