:root {
    --high: rgba(255, 255, 255, 1);
    --less: rgba(255, 255, 255, .6);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #363636;
    color: var(--high);
}

.boite {
    display: inline-block;
    /* width: 100px; */
    height: 80px;
    border-radius: 10px;
    background-color: #000;
}


.tapis {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cellule {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    /* transition: all .3s ease-in-out; */
}

@keyframes moveRight {
    0%, 100% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(500px);
    }
}

.goutte {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.left {
    left: 0;
    background-color: #363636;
}
  
.right {
    right: 0;
    background-color: rgba(255, 255, 255, 0.257);
}
  
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}